<template>
    <div class="acc-container">
        <lightning-button label="button" onclick={handleGetRecords} variant="brand"></lightning-button>
    </div>
    <div> <span class="slds-badge slds-badge_inverse badge"> Total Records in Table - {totalRecords} </span> </div>
    <div style="height: 300px">
        <lightning-datatable
            key-field="Id"
            data={finalData}
            columns={columns}
            enable-infinite-loading="true"
            onloadmore={loadMoreData}
            load-more-offset="20">
        </lightning-datatable>
    </div>
    {loadMoreStatus}
</template>